*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes hearth{
    0%{
        height: 20px;
    }

    100%{
        height:  40px;
    }
}



header{
    background-image: linear-gradient(to bottom right, #caf0f8, #48cae4);
}

#theNavFirstPage{
    border-radius: 1000px;
    display: flex;
    background-image: linear-gradient(to bottom right, #caf0f8, #48cae4);
    max-width: 1000px;
    margin: 0 auto;
}

#navbarNavDropdown{
    justify-content: center !important;
}

#navbarNavDropdown li{
   margin-inline: 30px;  
   display: flex;
   justify-content: center;
   align-items: center;
}

#theLinkButtunIntheNav{
    font-size: 20px !important;
}
#navbarNavDropdown li a button{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to bottom right,#5e60ce, #48cae4);
    border: none;
    
}


.stkiyIcones{
   position: fixed;
   bottom: 0;
   left: 10px;
   display: flex;
   flex-direction: column;
   z-index: 1000;
}

.stkiyIcones a svg{
   height: 60px;
   margin-block: 10px;
}



#logoFirstPageInNav{
    width: 170px;
}


#navbarNavDropdown li a{
    color: white;
    font-size: 30px;
    font-weight: bold;
 }

 .theStartDivInfirstPage{
    width: 100%;
    height: 300px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-image: linear-gradient(to bottom right,#5e60ce, #48cae4);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .theTitelInfirstPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    
 }


 .theTitelInfirstPage h1{
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
 }

 .theTitelInfirstPage svg{
    margin-inline-start: 15px;
    color: red;
    width: 40px;
    animation-name: hearth;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
 }
 
 .exblenAboutehabFistPage{
    max-width: 1000px;
    margin: 40px auto;
 }

 .exblenAboutehabFistPage p{
    font-size: 25px;
 }

 .exblenAboutehabFistPage span{
    font-style: italic ;
    font-size: 27px;
    font-weight: bold;
    color: red;
 }
  
 .exblenAboutehabFistPage h2{
    text-align: center;
    margin-block: 55px;
    color: #5e60ce;
    font-weight: bold;
 }



 #MainImgdiv{
    margin: 0 auto;  
    display: flex;
    justify-content: center; 
    align-items: center;
    width: fit-content;
}



#rightButonImgSliderFirstPage{
    position: absolute;
    right: 10px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
}

#leftButonImgSliderFirstPage{
    position: absolute;
    left: 10px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
}


#mainImg{
    width: 800px;
    height: 500px;
}



.whyUsFirstPage{
   margin: 0 auto;
   max-width: 1000px;
}


.whyUsFirstPage h1{
   color: #5e60ce;
   margin-block: 50px;
   font-size: 50px;
}

.fireLogoFirstPage{
   display: flex;
   align-items: center;
   margin: 20px;
}

.fireLogoFirstPage img{
   width: 70px;
}

.fireLogoFirstPage h3{
   margin-inline: 20px;
   font-style: italic;
}

footer{
   background-image: linear-gradient(to bottom right,#5e60ce, #48cae4);
   margin-block-start: 60px;
}

.divIntheFooter{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   max-width: 1000px;
}

.divIntheFooter h2{
   color: white;
   text-align: center;
   margin-block: 20px;
   font-size: 40px;
}

.divIntheFooter iframe{
   display: flex;
   margin: 20px auto;
   justify-content: center;
   width: 600px;
   height: 350px;
}


.iconsInTheFooter{
   display: flex;
   justify-content: center;
}

.iconsInTheFooter svg{
   color: white;
   height: 100px;
   margin-inline: 20px;
}

.divHaveSliderImg{
   margin: 0 auto;
   max-width: 1000px;
   display: flex;
  justify-content: center;
   flex-direction: column;
}

#mainImgImgs{
   margin: 0 auto;
   width: 800px;
   margin-block: 30px;
   display: flex;
   justify-content: center;
}

.imgsInphotoPage{
   display: flex;
   flex-wrap: wrap;
   
}

.imgsinphotos{
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   width: 300px;
   padding: 20px;
}













 @media screen and (min-device-width: 550px) and (max-device-width: 1000px) { 
    #navbarNavDropdown li a{
        font-size: 25px;
     }

     #logoFirstPageInNav{
        width: 130px;
    }

    .theStartDivInfirstPage{
        height: 250px;
     }
    
     .theTitelInfirstPage h1{
        color: white;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
     }

      .stkiyIcones a svg{
         height: 40px;
         margin-block: 6px;
      }

     .exblenAboutehabFistPage{
        margin: 20px 20px;
     }
    
     .exblenAboutehabFistPage p{
        font-size: 20px;
     }
    
     .exblenAboutehabFistPage span{
        font-size: 24px;
     }
      
     .exblenAboutehabFistPage h2{
        margin-block: 20px;
     }


      #rightButonImgSliderFirstPage{
         height: 50px;
         width: 50px;
      }
   
       #leftButonImgSliderFirstPage{
         height: 50px;
         width: 50px;
      }
   
   
      #mainImg{
         width: 500px;
         height: 300px;
         max-width: 80vw;
      }
     


      .whyUsFirstPage h1{
         margin-inline: 20px;
         margin-block: 40px;
         font-size: 40px;
      }
      
      .fireLogoFirstPage img{
         width: 50px;
      }
      .fireLogoFirstPage h2{
         margin-inline: 20px;
         font-size: 30px;
         font-style: italic;
      
      }



      
         .divIntheFooter h2{
            font-size: 30px;
         }

         .divIntheFooter iframe{
            margin: 20px auto;
            width: 400px;
            height: 250px;
         }

         .iconsInTheFooter svg{
            height: 50px;
            margin-inline: 20px;
            margin-block-start: 20px;
         }

            
            
     

}


@media screen and  (max-device-width: 550px) { 
    

     #navbarNavDropdown li a{
        font-size: 20px;
     }

     #logoFirstPageInNav{
        width: 100px;
    }



    .theStartDivInfirstPage{
        height: 200px;
     }
    
     .theTitelInfirstPage h1{
        color: white;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
     }


     
     .exblenAboutehabFistPage{
        margin: 20px 20px;
     }
    
     .exblenAboutehabFistPage p{
        font-size: 15px;
     }
    
     .exblenAboutehabFistPage span{
        font-size: 17px;
     }
      
     .exblenAboutehabFistPage h2{
        margin-block: 20px;
     }

     .stkiyIcones a svg{
      height: 40px;
      margin-block: 6px;
     }


     #rightButonImgSliderFirstPage{
      height: 40px;
      width: 40px;
   }

    #leftButonImgSliderFirstPage{
      height: 40px;
      width: 40px;
   }


   #mainImg{
      width: 300px;
      height: auto;
      max-width: 80vw;
   }
  
     
   .whyUsFirstPage h1{
      margin-inline: 20px;
      margin-block: 30px;
      font-size: 30px;
   }
   
   .fireLogoFirstPage img{
      width: 30px;
   }

   .fireLogoFirstPage h2{
      margin-inline: 20px;
      font-size: 18px;
      font-style: italic;
   
   }

   .divIntheFooter h2{
      font-size: 25px;
   }

   .divIntheFooter iframe{
      margin: 20px auto;
      width: 300px;
      height: 200px;
      max-width: 70vw;
   }

   .iconsInTheFooter svg{
      height: 30px;
      margin-inline: 7px;
      margin-block-start: 20px;
   }
 
   

}
